.card-img {
    width: 100px;
    height: 135px;
    margin: 5px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 700;
}

.all-cards:last-child {
    opacity: 1;
    animation: bring-to-light 1s;
}

.bring-to-light {
    opacity: 1;
    animation: bring-to-light 1s;
}

@keyframes bring-to-light {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}