<div class="inherit-dimensions">
    <div class="d-flex justify-content-center align-items-center inherit-dimensions flex-column" *ngIf="!this.hasValues">
        <form class="d-flex align-items-center flex-column">
            <div class="d-flex align-items-center">
                <mat-form-field>
                    <mat-label>Enter the number of Cards</mat-label>
                    <input matInput type="number" [(value)]="this.numberOfCards" (change)="this.changeNumberOfCards($event)" />
                </mat-form-field>
                <span *ngIf="this.invalidNumberOfCards" class="invalid material-icons">
              warning
            </span>
            </div>
            <div class="d-flex align-items-center">
                <mat-form-field>
                    <mat-label>Enter the number of Cards to skip</mat-label>
                    <input matInput type="number" [(value)]="this.numberOfSkipCards" (change)="this.changeNumberOfSkipCards($event)" />
                </mat-form-field>
                <span *ngIf="this.invalidNumberOfSkipCards" class="invalid material-icons">
              warning
            </span>
            </div>

            <button mat-raised-button color="primary" (click)="this.submitValues($event)">Choose Cards</button>
        </form>
    </div>

    <div class="d-flex justify-content-center w-100 inherit-dimensions align-items-center margin-td-20 flex-column" *ngIf="this.hasValues">
        <mat-drawer-container class="w-100 inherit-dimensions">
            <mat-drawer [opened]="this.showSlideout" class="d-flex flex-column align-items-center w-100" mode="over">
                <div class="all-cards-container w-100">
                    <h3 class="w-100 d-flex justify-content-center title">Select any card</h3>
                    <div class="spade-cards d-flex justify-content-center align-items-center flex-wrap w-100">
                        <div *ngFor="let card of this.spadeCards">
                            <img class="card-img pointer" [src]="card" alt="card" (click)="cardSelected(card)" />
                        </div>
                    </div>
                    <div class="heart-cards d-flex justify-content-center align-items-center flex-wrap w-100">
                        <div *ngFor="let card of this.heartCards">
                            <img class="card-img pointer" [src]="card" alt="card" (click)="cardSelected(card)" />
                        </div>
                    </div>
                    <div class="club-cards d-flex justify-content-center align-items-center flex-wrap w-100">
                        <div *ngFor="let card of this.clubCards">
                            <img class="card-img pointer" [src]="card" alt="card" (click)="cardSelected(card)" />
                        </div>
                    </div>
                    <div class="diamond-cards d-flex justify-content-center align-items-center flex-wrap w-100">
                        <div *ngFor="let card of this.diamondCards">
                            <img class="card-img pointer" [src]="card" alt="card" (click)="cardSelected(card)" />
                        </div>
                    </div>
                </div>

                <button mat-raised-button (click)="this.hideSlideOut()">Cancel</button>
            </mat-drawer>


            <div class="d-flex w-100 justify-content-center">
                <span class="title">
                    Desired Sequence
                </span>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-wrap w-100 ">
                <div *ngFor="let card of this.service.getCard(); let number = index">
                    <app-card (openSlideout)="this.openSlideout($event)" [number]="number" [card]="card"></app-card>
                    <span class="d-flex justify-content-center">{{number + 1}}</span>
                </div>
            </div>

            <!-- <div class="d-flex w-100 justify-content-center" *ngIf="this.cardsArranged">
                <span class="title">Arrange your cards accordingly and skip {{this.numberOfSkipCards}} card(s)</span>
            </div> -->
            <!-- <div class="d-flex justify-content-center align-items-center flex-wrap w-100 " *ngIf="this.cardsArranged">
                <div *ngFor="let card of this.arrangedCards; let number = index">
                    <app-card [number]="number" [card]="card"></app-card>
                    <span class="d-flex justify-content-center">{{number + 1}}</span>
                </div>
            </div> -->

            <div class="animated-cards w-100" *ngIf="this.cardsArranged">
                <app-arranged-cards [cards]="this.arrangedCards" [skip]="this.numberOfSkipCards"></app-arranged-cards>
            </div>

        </mat-drawer-container>
        <div class="button-container">
            <button mat-raised-button *ngIf="this.showArrangeButton" (click)="arrangeCards()">Arrange Cards</button>
        </div>
    </div>

</div>